{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <article>
    <h1>About Us</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        <p>
          Based in Doha, Qatar, Kunafa is a private bakery, focused on traditional recipes served with a
          modern twist.
        </p>
        <p>
          The chef draw inspiration from Sudanese, Egyptian, and Qatari culture
          and have a menu of 12-15 items that he rotate seasonally.
        </p>

        <p>
          The bakery has a rustic and relaxed atmosphere with moderate
          prices, making it a popular place for a meal any time of the day.
        </p>

        <p>
          Kunafa is owned by an IT professional, Ahmed Almostafa, who
          moved to Qatar to pursue his dream of owning a bakery.
        </p>

        <p>
          To craft the menu, Ahmed Almostafa relies on family recipes and his experience
          as an entrepreneur in Qatar.
        </p>

        <p>
          He does all the marketing for the bakery and led the effort to
          expand the menu beyond classic Qatar to incorporate additional
          cuisines from the mediterranean region.
        </p>
      </div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <figure class="figure">
          <img
            src="{% static 'img/ahmed_almostafa.jpg' %}"
            alt="Ahmed Almostafa"
          />
          <figcaption class="figure-caption">
            Kunafa owner Ahmed Almostafa.
          </figcaption>
        </figure>
      </div>
      <!--End col-->
    </div>
    <!--End row-->
  </article>
</section>
{% endblock %}
